<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lmy.customview">
    <!-- 日历 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 手机 打电话之类 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 正常权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序访问网络连接，可能产生GPRS流量 -->
    <!-- 因为8.0添加了新的安全措施，不允许应用内安装未经过Google play验证的应用,但是又有更新应用的需求 -->
    <uses-permission android:name="android.permission.REPLACE_EXISTING_PACKAGE" /> <!-- 正常权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MPChart.Activity.CombinationActivity"></activity>
        <activity android:name=".MPChart.Activity.RecyclerViewHeapActivity" />
        <activity android:name=".MPChart.Activity.HeapUpBarchartActivity" />
        <activity android:name=".MPChart.Activity.CrosswiseActivity" />
        <service android:name=".service.DownloadService" />

        <activity
            android:name=".wecome.AdvertisingActivity"
            />
        <activity android:name=".WebView.WebActivity" />

        <activity
            android:name=".wecome.GuideActivity"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.lmy.customview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".updaapp.UpDataActivity" />
        <activity android:name=".MPChart.Activity.LineChartActivity" /> <!-- 折线图统计图测试 -->
        <activity android:name=".MPChart.Activity.CircleProgressActivity" /> <!-- 环形进度view测试 -->
        <activity android:name=".MPChart.Activity.BarChartActivity" /> <!-- 柱形统计图测试 -->
        <activity android:name=".MPChart.Activity.PieChartActivity" /> <!-- 饼状统计图页测试 -->
        <activity android:name=".ExcelListview.ExcelListView" /> <!-- tab页测试 -->
        <activity android:name=".FragmentViewPager.TabActivity" /> <!-- recyclerview多选删除测试 -->
        <activity android:name=".RecyclerviewCheck.CheckActivity" /> <!-- 二级列表测试 -->
        <activity android:name=".SecondaryList.SecondaryListActivity" /> <!-- 第三方统计图测试 -->
        <activity android:name=".MPChart.Activity.MainMPChartActivity" /> <!-- 第三方统计图测试 -->
        <activity android:name=".Activity.MainActivity" /> <!-- recyclerview增加头部测试 -->
        <activity android:name=".RecyclerViewAddTitle.activity.RecyclerViewActivity" /> <!-- recyclerview多选删除测试 -->
        <activity android:name=".CustomView.CustomviewActivity" />



        <activity
            android:name=".Activity.StartLaunchActivity"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BGAPhotoPicker.activity.BGAPickerActivity" />
        <activity android:name=".BGAPhotoPicker.activity.BGANinePhotoActivity" />

    </application>

</manifest>